<!-- BEGIN Articles_offertsIndex -->
$TemplateCommunHeader
	<!-- DEBUT CONTENT -->
		<!-- DEBUT PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- DEBUT PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							$multilangue[articles_offerts]<small></small>
						</h3>
						<ul class="page-breadcrumb breadcrumb">						
							<li>
								<i class="fa fa-home"></i>
								<a href="index.php">
									$multilangue[accueil]
								</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>							
								$multilangue[marketing]							
								<i class="fa fa-angle-right"></i>
							</li>
							<li>							
								$multilangue[articles_offerts]
							</li>
							<!-- BEGIN Articles_offertsNavigSupp -->
						    <li>
						    	<i class="fa fa-angle-right"></i>						    	                       
						        $libNavigSupp						        
						    </li>
							<!-- END Articles_offertsNavigSupp -->
						</ul>
					<!-- FIN PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
		<!-- FIN PAGE HEADER-->
		
		<!-- DEBUT PAGE CONTENT -->	
		
			<!-- BEGIN Articles_offertsErreur -->
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
					$texteErreur
				</div>
			<!-- END Articles_offertsErreur -->
		
			<div class="alert alert-danger alert-dismissable" style="display:none">
				<button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
				$multilangue[article_offert_minimum]
			</div>
			<!-- Portlet pour les paramètres -->
			<!-- BEGIN Articles_offertsParametres -->
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box blue-steel mb-20">
						<div class="portlet-title">
							<div class="caption">
								$multilangue[parametres]
							</div>
							<div class="tools">
								<a class="collapse" href="javascript:;"></a>					                                
							</div>
						</div>
						<div class="portlet-body">
							<div class="form-group">
								<label class="control-label col-md-6">$multilangue[decrementer_stocks_articles_offerts]</label>
								<input type="checkbox" data-off-label="&nbsp;$multilangue[non]&nbsp;" data-on-label="&nbsp;$multilangue[oui]&nbsp;" class="make-switch" data-value="stock_articles_gratuits" $decrementer_check>
							</div>						
							<div class="form-group">
								<label class="control-label col-md-6">
									$multilangue[afficher_offres_valables] 
									<br>
									ou 
									<br>
									$multilangue[afficher_all_offres]
								</label>
								<input type="checkbox" data-off-label="&nbsp;$multilangue[valables]&nbsp;" data-on-label="&nbsp;$multilangue[toutes]&nbsp;" class="make-switch" data-value="affiche_all_articles_gratuits" $valable_check>
							</div><br><br>
							<div class="form-group">
								<div class="ta-center">
									<button type="submit" class="btn green" id="exportparametre"><i class="fa fa-check"></i> $multilangue[enregistrer]</button>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
			<!-- END Articles_offertsParametres -->
			
			<!-- Info -->			
			<!-- BEGIN Articles_offertsInfo -->
			<div class="alert alert-info ta-center">
				$multilangue[infos_articles_offerts_supp]
			</div>
			<!-- END Articles_offertsInfo -->
						
			<!-- Liste des offres  -->
			<!-- BEGIN Articles_offertsListe -->	
				<a href="articles_offerts.php?action=ajout" data-original-title="$multilangue[ajt_offre]" class="btn green right mb-20">
					$multilangue[ajt_offre] &nbsp;
					<i class="fa fa-plus"></i>
				</a>
				<div class="clear"></div>			
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable tabbable-custom boxless tabbable-reversed">						
							<div class="tab-content">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table_articles_offerts table-hover">
										<thead>
											<tr>
												<th>$multilangue[site]</th>
												<th>$multilangue[periode]</th>
												<th>$multilangue[libelle]</th>
												<th>$multilangue[montant_minimum]</th>
												<th>$multilangue[rayon_s] / $multilangue[article_s]</th>
												<th>$multilangue[article_s_offert_s]</th>
												<th>$multilangue[active]</th>
												<th>$multilangue[actions]</th>
											</tr>
										</thead>
										<tbody class="ta-center">
											<!-- BEGIN Articles_offertsListeBit -->
											<tr id="$offre[articleoffertid]">
												<td>$site[libelle]</td>
												<td>$periode</td>
												<td>$offre[libelle]</td>
												<td>$offre[montantminimum] $devise_site_actuel</td>
												<td>$rayons_articles 
													<a href="#myModalListeRayonsArticles$offre[articleoffertid]" id="liste_rayons_articles" data-placement="top" data-toggle="modal" role="button" class="btn tooltips" $display_lien_liste>$liste</a>
													<div aria-hidden="true" aria-labelledby="myModalLabel$offre[articleoffertid]" role="dialog" tabindex="-1" class="modal fade" id="myModalListeRayonsArticles$offre[articleoffertid]" style="display: none;">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
																	<h4 class="modal-title">$liste</h4>
																</div>
																<div class="modal-body">																					
																	$liste_categories_articles
																	<div class="clear"></div>
																</div>
																<div class="modal-footer">
																	<button aria-hidden="true" data-dismiss="modal" class="btn default">$multilangue[retour]</button>
																</div>
															</div>
														</div>
													</div>
												</td>
												<td>$cadeau</td>
												<td>
													<div data-value="$offre[articleoffertid]" data-action="active" data-original-title="$tooltip_visible" data-placement="top" class="btn default btn-sm $color2_aff tooltips">
														<i class="fa $ico_aff"></i>
													</div>
												</td>
												<td>
													<a href="articles_offerts.php?action=ajout&idOffre=$offre[articleoffertid]" data-original-title="Modifier" data-placement="top" class="btn tooltips">
                                    				<i class="fa fa-pencil-square-o fs-18"></i>
                                    				</a>
                                    				<a href="#myModal$offre[articleoffertid]" id="btn_suppr$offre[articleoffertid]" data-original-title="$multilangue[supprimer]" data-placement="top" data-toggle="modal" role="button" class="btn tooltips" $display_btn_supprimer>
													<i class="fa fa-trash-o fs-18 font-red"></i>
													</a>
													<div aria-hidden="true" aria-labelledby="myModalLabel$offre[articleoffertid]" role="dialog" tabindex="-1" class="modal fade" id="myModal$offre[articleoffertid]" style="display: none;">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
																	<h4 class="modal-title">Voulez-vous vraiment supprimer cette offre ?</h4>
																</div>
																<div class="modal-body">																					
																	Cela supprimera cette offre.
																</div>
																<div class="modal-footer">
																	<button aria-hidden="true" data-dismiss="modal" class="btn default">Non</button>
																	<a href="articles_offerts.php?action=supprimer&idOffre=$offre[articleoffertid]" class="btn blue">Oui, supprimer</a>
																</div>
															</div>
														</div>
													</div>
                                    			</td>												
											</tr>
											<!-- END Articles_offertsListeBit -->												
										</tbody>
									</table>												
								</div>															
							</div>
						</div>							
					</div>
				</div>
			<!-- END Articles_offertsListe -->
			
			<!-- BEGIN Articles_offertsAjout -->
				<div class="row">
					<div class="col-md-12">
						<form action="articles_offerts.php?action=ajout2" method="post" class="form-horizontal form-bordered" id="form_articles_offerts">
							<input type="hidden" name="catidOffre" value="">
							<input type="hidden" name="articles" value="">
							<input type="hidden" name="offreid" value="$idOffre">
							<div class="col-md-12 ta-center mb-20">
								<a href="$_SERVER[PHP_SELF]" class="btn grey-silver"><i class="fa fa-arrow-left"></i> $multilangue[retour]</a>
								<button type="submit" class="btn green"><i class="fa fa-check"></i> $multilangue[enregistrer]</button>															
							</div>
							<div class="portlet box light-grey">
								<div class="portlet-title">
									<div class="caption">
										$multilangue[ajt_offre]
									</div>																		
								</div>
								<div class="portlet-body form">
									<div class="form-body">	
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[site]</label>
											<div class="col-md-8">																														
												<select class="form-control select-site" id="select-type" name="siteSelect">
                                           		<!-- BEGIN Articles_offertsListeSiteBit -->
                                            		<option value="$site[siteid]" $selected>$site[libelle]</option>														
                                            	<!-- END Articles_offertsListeSiteBit -->
												</select>
											</div>	
										</div>	
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[libelle]</label>
											<div class="col-md-8">																														
												<input type="text" class="form-control" name="libelleOffre" value="$libelle_offre" > 
											</div>	
										</div>
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[description]</label>
											<div class="col-md-8">
												<textarea class="form-control editeur" name="descriptionOffre">$desc_offre</textarea>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[montant_minimum_panier]</label>
											<div class="col-md-8">																														
												<input type="text" class="form-control input-inline" name="montantminimum" value="$montant_offre"> 
												<!-- BEGIN Articles_offertsDeviseSymboleBit -->
													<span id="devise$site[siteid]" class="devise_a_cacher" $display >$devise_site_actuel</span>
												<!-- END Articles_offertsDeviseSymboleBit -->
											</div>
										</div>										
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[periode] (JJ/MM/AAAA)</label>
											<div class="col-md-8">
												<div class="col-md-6">
													<div data-date-start-date="+0d" data-date-format="dd/mm/yyyy" class="input-group input-medium date">
														<input type="text" class="form-control date-picker" name="datedebut" value="$datedebut_offre" placeholder="$multilangue[du]"/>
														<span class="input-group-btn">
															<button type="button" class="btn default date-reset tooltips" data-original-title="$multilangue[aucune]" data-placement="top"><i class="fa fa-times"></i></button>
														</span>
													</div><br>
													<div data-date-start-date="+0d" data-date-format="dd/mm/yyyy" class="input-group input-medium date">													
														<input type="text" class="form-control date-picker" name="datefin" value="$datefin_offre" placeholder="$multilangue[au]"/>
														<span class="input-group-btn">
															<button type="button" class="btn default date-reset tooltips" data-original-title="$multilangue[aucune]" data-placement="top"><i class="fa fa-times"></i></button>
														</span>
													</div>
												</div>													
												<div class="col-md-6">
													<div class="alert alert-info ta-center">
														$multilangue[infos_articles_offerts_date]
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[application]</label>
											<div class="col-md-8">																														
												<select class="form-control select-application" name="application">
													<option value="0" $selectedappli0>$multilangue[sur_le_catalogue]</option>	
													<option value="1" $selectedappli1>$multilangue[sur_rayons]</option>
													<option value="2" $selectedappli2>$multilangue[sur_un_article]</option>
													<option value="3" $selectedappli3>$multilangue[sur_plusieurs_articles]</option>												
												</select>
												<div class="jstreecateg">
												</div>
												<div class="jstreearticles">
												</div>												
												<div class="searchArticle">
													<input id="searchArticle" name="searchArticle" class="form-control" value="$multilangue[saisir_libelle_ou_ref]" onclick="if (this.value == '$multilangue[saisir_libelle_ou_ref]') this.value =''" />
													<div id="choixarticle">
														<!-- BEGIN Articles_offertsModificationArticle -->
														<div id="articleTab$article[artid]"> 
															- $article[libelle] ($article[artcode]) 
															<input type="hidden" value="$article[artid]" name="articleTab[artid]" id="articleTab[$article[artid]]"> 
															<i onclick="$('#articleTab$article[artid]').remove();" class="fa fa-trash-o fs-18 font-red"></i>
														</div>
														<!-- END Articles_offertsModificationArticle -->
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="control-label col-md-4">$multilangue[articles_offerts]</label>
											<div class="col-md-8">
												<div class="searchArticleOffert">
													<input id="searchArticleOffert" name="searchArticleOffert" class="form-control" value="$multilangue[saisir_libelle_ou_ref]" onclick="if (this.value == '$multilangue[saisir_libelle_ou_ref]') this.value =''" />
													<div id="choixarticleoffert">
														<!-- BEGIN Articles_offertsModificationArticleOffert -->
														<div id="articleTabOffert$articleoffert[artid]"> 
															- $articleoffert[libelle] ($articleoffert[artcode]) 
															<input type="hidden" value="$articleoffert[artid]" name="articleTabOffert[$articleoffert[artid]]" id="articleTabOffert[$articleoffert[artid]]"> 
															<i onclick="$('#articleTabOffert$articleoffert[artid]').remove();" style="cursor: pointer;" class="fa fa-trash-o fs-18 font-red"></i>
														</div>
														<!-- END Articles_offertsModificationArticleOffert -->
													</div>
												</div>
											</div>
										</div>																		
									</div>
								</div>
							</div>					
							<div class="col-md-12 ta-center mb-20">
								<a href="$_SERVER[PHP_SELF]" class="btn grey-silver"><i class="fa fa-arrow-left"></i> $multilangue[retour]</a>
								<button type="submit" class="btn green"><i class="fa fa-check"></i> $multilangue[enregistrer]</button>															
							</div>
						</form>
					</div>
				</div>
			<!-- END Articles_offertsAjout -->
			
		<!-- FIN PAGE CONTENT-->
	<!-- FIN CONTENT -->	
$TemplateCommunFooter
<script type="text/javascript" src="assets/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="assets/plugins/jstree/dist/jstree.min.js"></script>
<script type="text/javascript" src="assets/plugins/data-tables/plugins/sorting/num-html.js"></script>


<script type="text/javascript">
	App.init(); // initlayout and core plugins
	createAutoCompleteur('searchArticle', 'choixarticle', 'articleTab', 'search_result_autocomplete.php?type=article', 'simple');
	createAutoCompleteur('searchArticleOffert', 'choixarticleoffert', 'articleTabOffert', 'search_result_autocomplete.php?type=article', 'multiple');
	
	$(document).ready(function() {
		
		$('.select-site').change(function () {
			var siteid = $(this).val();
			$('.devise_a_cacher').hide();
			$('#devise'+siteid).show();
		});
		
		
		$('.jstreecateg').on('changed.jstree', function (e, data) {
            var i, j, r = [];
            for(i = 0, j = data.selected.length; i < j; i++) {
              r.push(data.instance.get_node(data.selected[i]).id);
            }           
            $('input[name="catidOffre"]').val(r.join(','));          
          }).jstree({
			'plugins' : ['checkbox', 'wholerow'],
			'core' : {
				'data': {
					'url': 'articles_offerts_ajax.php?action=jstreecateg'
	         	}
			}
		});

		$('.jstreearticles').on('changed.jstree', function (e, data) {
            var i, j, r = [];
            for(i = 0, j = data.selected.length; i < j; i++) {
              r.push(data.instance.get_node(data.selected[i]).id);
            }           
            $('input[name="articles"]').val(r.join(','));          
          }).jstree({
			'plugins' : ['checkbox', 'wholerow'],
			'core' : {
				'data': {
					'url': 'articles_offerts_ajax.php?action=jstreearticles'					
	         	}
			}
		});
		
		$('#exportparametre').click(function () {	
			var data = 'action=parametre&';
			var tab = new Array();
			$('input[type="checkbox"]').each(function(){
				data += $(this).data("value") + '=' + $(this).is(':checked') + '&';
			})
			$.ajax({
				url : 'articles_offerts_ajax.php',
				type : 'POST',
				data : data,
				dataType : 'html',
					success : function(code_html, statut){
				},
				error : function(resultat, statut, erreur){ 
					//alert(erreur);	
				}
			});
		});
		
		$('.ui-autocomplete').css('z-index', '10');

		
		$('.table_articles_offerts').dataTable( {
	        "order": [[ 0, "desc" ]],
			"aLengthMenu": [[10, 20, 40, 60, -1], [10, 20, 40, 60, "$multilangue[tous_les]"]],
			"language": {
				"search": "$multilangue[recherche]",
				"paginate": {
					"first": "$multilangue[premiere_page]",
					"last": "$multilangue[derniere_page]",
					"next": "$multilangue[page_suivante]",
					"previous": "$multilangue[page_precedente]"
				},
				"emptyTable": "$multilangue[aucune_donnee_dispo_table]",
				"info": "$multilangue[affichage_resultats_de_a]",
				"infoEmpty": "$multilangue[aucun_resultat]",
				"infoFiltered": "$multilangue[sur_max_]",
				"lengthMenu": "$multilangue[afficher_menu_resultats]",
				"sZeroRecords": "$multilangue[aucun_resultat_trouve]"
			},
			"aoColumnDefs": [
		                 { "sType": "num-html", "aTargets": [ 3 ] },
		                 { "orderable": false, "aTargets": [6, 7] }
		               ]
	    });
		
		$('.dataTables_filter input').addClass("form-control input-small input-inline");
		$('.dataTables_length select').addClass("form-control input-small");
		$('.date-picker').datepicker({
            rtl: App.isRTL(),
            language: 'fr',
            autoclose: true
        });
		
		$('.select-application').change(function () {
			$('.searchArticle').hide();
			$('.jstreearticles').hide();
			$('.jstreecateg').hide();
			switch ($('.select-application').val()) {
				case "1":
					$('.jstreecateg').show();
					$('.jstreecateg').bind("ready.jstree", function (event, data) {
			            $(this).jstree("open_all");
			            var categorie = "$tabCategorie";
						if(categorie != ""){
							categorie = categorie.split(',');
							for(var i=0;i<categorie.length-1;i++){
									$(this).jstree("select_node", '#'+categorie[i]);
								}
						}
						$(this).jstree("close_all");
			        });
					break;
					
				case "2":
					$('.searchArticle').show().css('margin-top', '20px');
					break;
					
				case "3":	
					$('.jstreearticles').show();
					$('.jstreearticles').bind("ready.jstree", function (event, data) {
			            $(this).jstree("open_all");
			            var article = "$tabArticle";
						if(article != ""){
							article = article.split(',');
							for(var i=0;i<article.length-1;i++){
									$(this).jstree("select_node", '#'+article[i]);
								}
						}
						$(this).jstree("close_all");
			        });
					break;
			}
		});
		$('.select-application').trigger('change');
		$('.date-reset').click(function () {
			$(this).closest('div').find('input').val("");
		});
		
		$('.btn-sm').click(function () {
			var data = 'action=' + $(this).data("action") + '&';
			data += 'articleoffertid=' + $(this).data("value")+ '&';
			data += 'color=' + ($(this).hasClass("green") ? "green" : "red");
			$.ajax({
				url : 'articles_offerts_ajax.php',
				type : 'POST',
				data : data,
				dataType : 'html',
				success : function(code_html, statut){
					var div = $('#' + code_html.split('_')[1]).find("td:eq(6)").find("div[data-action='" + code_html.split('_')[0] + "'][data-value='" + code_html.split('_')[1] + "']");
					div.removeClass("green red").addClass(code_html.split('_')[2]);					
					$.extend({}, div.attr('data-original-title', code_html.split('_')[3]));
					div.find("i").removeClass().addClass("fa").addClass((code_html.split('_')[2] == "green" ? "fa-check-square-o" : "fa-square-o"));
					$('.tooltip').hide();
					div.trigger("mouseover");
				},
				error : function(resultat, statut, erreur){ 
					alert(erreur);	
				}
			});
		});
		
		$('#form_articles_offerts').submit(function(event){
			if($('#choixarticleoffert').children().length > 0){
				return;
			}
			$('.alert').show();
			event.preventDefault();
		});
	});
</script>
<!-- END Articles_offertsIndex -->