<!-- BEGIN Echange_liensIndex -->
$TemplateCommunHeader
	<!-- DEBUT CONTENT -->
			<!-- DEBUT PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- DEBUT PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
						$multilangue[echange_liens]<small></small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">						
						<li>
							<i class="fa fa-home"></i>
							<a href="index.php">
								$multilangue[accueil]
							</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>							
							$multilangue[referencement]							
							<i class="fa fa-angle-right"></i>
						</li>
						<li>							
							$multilangue[echange_liens]
						</li>
						<!-- BEGIN Echange_liensNavigSupp -->
						    <li>
						    	<i class="fa fa-angle-right"></i>						    	                       
						        $libNavigSupp						        
						    </li>
						<!-- END Echange_liensNavigSupp -->
					</ul>
					<!-- FIN PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- FIN PAGE HEADER-->
			<!-- DEBUT PAGE CONTENT -->
			
			<!-- BEGIN Echange_liensSuccess -->
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
					$texteSuccess
				</div>
			<!-- END Echange_liensSuccess -->
			
			<!-- BEGIN Echange_liensErreur -->
				<div class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
					$texteErreur
				</div>
			<!-- END Echange_liensErreur -->
			
			<!-- BEGIN Echange_liensListe -->				
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable tabbable-custom boxless tabbable-reversed">						
							<div class="tab-content">	
								<a href="echange_liens.php?action=modifier" data-original-title="$multilangue[ajouter]" class="btn green right">
									$multilangue[ajouter] &nbsp;
									<i class="fa fa-plus "></i>
								</a>
								<br><br><br>											
								<div class="tab-pane active" id="tab_0">
									<div class="table-responsive">
										<table id="tabechangelien" class="table table-striped table-bordered table-echangelien table-hover">
											<thead>
												<tr>
													<th class="ta-center">
														$multilangue[site]
													</th>
													<th class="ta-center">
														$multilangue[libelle]
													</th>
													<th class="ta-center">
														$multilangue[description]
													</th>
													<th class="ta-center">
														$multilangue[encart]
													</th>
													<th class="ta-center">
														$multilangue[actions]
													</th>
												</tr>
											</thead>
											<tbody>
												<!-- BEGIN Echange_liensListeBit -->
												<tr id="$lien[lienid]">
													<td class="ta-center">																
														<img src='assets/img/flags/$flag[diminutif].png'> $lien[site]
													</td>
													<td class="ta-center">																
														$lien[libelle]
													</td>
													<td class="ta-center">
														$lien[description]
													</td>
													<td class="ta-center">
														<div data-original-title="$tooltip_visible" data-placement="top" class="btn default btn-sm $color_aff tooltips">
															<i class="fa $ico_aff"></i>
														</div>
													</td>
													<td class="ta-center">
														<a href="echange_liens.php?action=modifier&lienid=$lien[lienid]" data-original-title="$multilangue[modifier]" data-placement="top" class="btn tooltips">
															<i class="fa fa-edit fs-18 font-blue"></i>
														</a>
														<a href="#myModal$lien[lienid]" id="btn_suppr$lien[lienid]" data-original-title="$multilangue[supprimer]" data-placement="top" data-toggle="modal" role="button" class="btn tooltips">
															<i class="fa fa-trash-o fs-18 font-red"></i>
														</a>
														<div aria-hidden="true" aria-labelledby="myModalLabe$lien[lienid]" role="dialog" tabindex="-1" class="modal fade" id="myModal$lien[lienid]" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
																		<h4 class="modal-title">$multilangue[supprimer_lien] "$lien[libelle]" ?</h4>
																	</div>
																	<div class="modal-body">																					
																		$multilangue[annonce_suppression_lien]
																	</div>
																	<div class="modal-footer">
																		<button aria-hidden="true" data-dismiss="modal" class="btn default">$multilangue[non_modal]</button>
																		<a href="echange_liens.php?action=supprimer&lienid=$lien[lienid]" class="btn blue">$multilangue[oui_supprimer]</a>
																	</div>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<!-- END Echange_liensListeBit -->												
											</tbody>
										</table>												
									</div>																			
								</div>																		
							</div>
						</div>							
					</div>
				</div>
			<!-- END Echange_liensListe -->
			
			<!-- BEGIN Echange_liensModification -->				
				<div class="row">
					<div class="col-md-12">
						<div class="tabbable tabbable-custom boxless tabbable-reversed">						
							<div class="tab-content">							
								<div class="tab-pane active" id="tab_0">
									<form action="$_SERVER[PHP_SELF]" name="formModifEchangelien" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered form-row-stripped">
										<input type="hidden" name="action" value="modifier2">
										<input type="hidden" name="lienid" value="$lien[lienid]">
										<div class="col-md-12 ta-center mb-20">
											<a href="$_SERVER[PHP_SELF]" class="btn grey-silver"><i class="fa fa-arrow-left"></i> $multilangue[retour]</a>
											<button type="submit" class="btn green"><i class="fa fa-check"></i> $multilangue[enregistrer]</button>															
										</div>
										<div class="portlet box light-grey">
											<div class="portlet-title">
												<div class="caption">
													$texte_entete
												</div>																		
											</div>
											<div class="portlet-body form">
												<div class="form-body">											
													<div class="form-group">
														<label class="control-label col-md-2">$multilangue[libelle]</label>
														<div class="col-md-10">																														
															<input type="text" class="form-control" name="libelle" value="$lien[libelle]" required/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-2">$multilangue[lien]</label>
														<div class="col-md-10">
															<input type="url" class="form-control info" oninvalid="setCustomValidity('Veuillez entrer une URL valide')" onchange="try{setCustomValidity('')}catch(e){}" pattern="^((http|https):\/\/){1}(www[.])?([a-zA-Z0-9]|-)+([.][a-zA-Z0-9(-|\/|=|?)?]+)+$" name="lien" value="$lien[lien]" required data-trigger="focus" data-placement="top" data-content="$multilangue[texte_info_saisie_urls]"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-2">$multilangue[attribut_title]</label>
														<div class="col-md-10">																														
															<input type="text" class="form-control" name="title" value="$lien[title]"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-2">$multilangue[description]</label>
														<div class="col-md-10">																														
															<textarea class="form-control autosize" name="description">$lien[description]</textarea>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-2">$multilangue[logo] ($multilangue[facultatif])<br>$multilangue[taille] : 240px x 170px</label>
														<div class="col-md-10">																														
															<div data-provides="fileinput" class="fileinput fileinput-new">
																<div data-trigger="fileinput" class="fileinput-preview thumbnail"><img src="$img" alt=""></div>
																<div>
																	<span class="btn default btn-file">
																		<span class="fileinput-new">$multilangue[selectionner]</span>
																		<span class="fileinput-exists">$multilangue[modification]</span>
																		<input type="file" name="logo">
																	</span>
																	<a data-dismiss="fileinput" class="btn default fileinput-exists" href="#">$multilangue[supprimer]</a>
																</div>
															</div>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-2">$multilangue[code_html]</label>
														<div class="col-md-10">																														
															<textarea class="form-control autosize" name="script">$lien[script]</textarea>
														</div>
													</div>
													<!-- BEGIN Echange_liensModificationSite -->
														<div class="form-group">
															<label class="control-label col-md-2">$multilangue[site]</label>
															<div class="col-md-10">	
																<select multiple class="form-control" name="siteid[]">
																	<!-- BEGIN Echange_liensModificationSiteBit -->
																	<option value="$site[siteid]" $selected>$site[libelle]</option>
																	<!-- END Echange_liensModificationSiteBit -->
																</select>
															</div>
														</div>	
													<!-- END Echange_liensModificationSite -->								
												</div>
											</div>
										</div>
										<div class="col-md-12 ta-center mb-20">
											<a href="$_SERVER[PHP_SELF]" class="btn grey-silver"><i class="fa fa-arrow-left"></i> $multilangue[retour]</a>
											<button type="submit" class="btn green"><i class="fa fa-check"></i> $multilangue[enregistrer]</button>															
										</div>
									</form>
								</div>
							</div>							
						</div>
					</div>
				</div>	
			<!-- END Echange_liensModification -->
		<!-- FIN PAGE CONTENT -->			
	<!-- FIN CONTENT -->
$TemplateCommunFooter

<script type="text/javascript" src="assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.autosize.min.js"></script>

<script type="text/javascript">
	App.init(); // initlayout and core plugins
	
	$(document).ready(function() {
		var ordreDepart;
		$('#tabechangelien > tbody').tableDnD({			
			onDragStart: function(table, row) {
				ordreDepart = $.tableDnD.serialize();		    	
		    },
		    onDrop: function(table, row) {
		    	var ordreArrivee = $.tableDnD.serialize();
		    	if (ordreDepart != ordreArrivee){
		    		var data = 'action=echange_liens_positions&';
		    		data += 'ordre=' + ordreArrivee + '&';
		    		$.ajax({
						url : 'commun_ajax.php',
						type : 'POST',
						data : data,
						dataType : 'html',
						success : function(code_html, statut){
						},
						error : function(resultat, statut, erreur){
							alert(erreur);
						}
					});
		    	}
		    }
		});
		$('.btn-sm').live('click', function() {
			var lienid = $(this).closest("tr").attr("id");
			var color = ($(this).hasClass("green") ? "green" : "red");
			var data = 'action=echange_liens_visible&';
			data += 'lienid=' + lienid + '&';
			data += 'color=' + color + '&';
			$.ajax({
				url : 'commun_ajax.php',
				type : 'POST',
				data : data,
				dataType : 'html',
				success : function(code_html, statut){
					var div = $('#' + code_html.split('_')[0]).find("td:eq(2)").find("div");
					div.removeClass("green red").addClass(code_html.split('_')[1]);					
					$.extend({}, div.attr('data-original-title', code_html.split('_')[2]));
					div.find("i").removeClass().addClass("fa").addClass((code_html.split('_')[1] == "green" ? "fa-check-square-o" : "fa-square-o"));
					$('.tooltip').hide();
					App.initAjax();
					div.trigger("mouseover");
				},
				error : function(resultat, statut, erreur){
					alert(erreur);	
				}
			});
		});
		$('.autosize').css('resize', 'vertical').autosize();
		$('.fileinput-preview').css('max-width', '240px').css('max-height', '170px');
		$('.info').popover({html: true, container: "body"});
	});
</script>
<!-- END Echange_liensIndex -->