<!-- BEGIN FrancoportIndex -->
$TemplateCommunHeader
<!-- DEBUT PAGE HEADER -->
			<div class="row">
				<div class="col-md-12">
					<!-- DEBUT PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					$multilangue[franco_port]<small></small>
					</h3>
					<ul class="page-breadcrumb breadcrumb">						
						<li>
							<i class="fa fa-home"></i>
							<a href="index.php">
								$multilangue[accueil]
							</a>
							<i class="fa fa-angle-right"></i>
						</li>
						<li>							
							$multilangue[parametres]						
							<i class="fa fa-angle-right"></i>
						</li>
						<li>
							<a href="instit.php">						
								$multilangue[franco_port]	
							</a>					
						</li>
						<!-- BEGIN InstitNavigSupp -->
						    <li>
						    	<i class="fa fa-angle-right"></i>						    	                       
						        $libNavigSupp						        
						    </li>
						<!-- END InstitNavigSupp -->
					</ul>
					<!-- FIN PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
<!-- FIN PAGE HEADER-->
<!-- DEBUT PAGE CONTENT-->

			<!-- BEGIN FrancoportSuccess -->
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
					$texteSuccess
				</div>
			<!-- END FrancoportSuccess -->
			
			<!-- BEGIN MinimumachatFrancoportss="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
					$texteErreur
				</div>
			<!-- END FrancoportErreur -->
			
			
<!-- BEGIN FrancoportFormBit -->
	<form action="francoport.php" method="POST" name="formfrancoport">
		<div style="width : 100%; text-align : center;"><button type="submit" class="btn green btn-align-right"><i class="fa fa-check"></i>&nbsp&nbsp$multilangue[enregistrer]</button><br/><br/></div>
		<!-- BEGIN FrancoportSiteBit -->																														
			<div class="col-md-12">
				<!-- DEBUT SAMPLE TABLE PORTLET-->
				<div class="portlet box $infosSite[classcolor]" style="">
					<div class="portlet-title">	
						<div class="caption" style="width:90%;">					
							Franco de port pour le $infosSite[libelle]
						</div>			
						<div class="tools">
							<a href="javascript:;" class="collapse">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<input type = "hidden" name = "action" value = "modiffranco">
						<input type = "hidden" name = "paysid" value = "$infosPays[paysid]">
						<div class="table-scrollable">
							<table id="" class="table table-striped table-bordered table-hover">
								<thead>
								<tr>										
									<th class="ta-center" colspan="2">
										$multilangue[pays]
									</th>
									<th class="ta-center">
										$multilangue[minimum_achat]
									</th>
								</tr>
								</thead>
								<tbody>
									<!-- BEGIN FrancoportSitePaysBit -->
									<tr id="$infosPage[institutionnelid]">
										<td class="ta-center va-middle">
											<img src='assets/img/flags/$libelleTagPays.png'>
										</td>						
										<td class="ta-center va-middle">
											$infosPays[libelle]
										</td>
										<td class="ta-center">											
											<table class="ta-center" style="width:30%; text-align:center; border:0; padding:0; margin:auto;">
												<tr>
													<td>A partir de &nbsp&nbsp</td>
													<td><input type ="text" name="gratuit[$infosPays[paysid]]" value="$montantgratuit" class="form-control" style="text-align : right; min-width:50px; margin : auto; display : inline;"></td>
													<td>&nbsp&nbsp € d'achat.</td>
												</tr>
											</table>									
										</td>						
									</tr>
									<!-- END FrancoportSitePaysBit -->
								</tbody>
							</table>
						</div>
					$test		
					</div>
				</div>
				<!-- FIN SAMPLE TABLE PORTLET-->
			</div>
			<br/>
		<!-- END FrancoportSiteBit -->
		<div style="width : 100%; text-align : center;"><button type="submit" class="btn green btn-align-right"><i class="fa fa-check"></i>&nbsp&nbsp$multilangue[enregistrer]</button><br/><br/></div>
	</form>
<!-- END FrancoportFormBit -->




<!-- BEGIN FrancoportMLBit -->

<form action="francoport.php" method="POST" name="formtva">
	<div style="width : 100%; text-align : center;"><button type="submit" class="btn green btn-align-right"><i class="fa fa-check"></i>&nbsp&nbsp$multilangue[enregistrer]</button><br/><br/></div>
	<!-- BEGIN FrancoportMLSiteBit -->																														
		<div class="col-md-12">
			<!-- DEBUT SAMPLE TABLE PORTLET-->
			<div class="portlet box $infosSite[classcolor]" style="">
				<div class="portlet-title">	
					<div class="caption" style="width:90%;">					
						Franco de port pour le $infosSite[libelle]
					</div>			
					<div class="tools">
						<a href="javascript:;" class="collapse">
						</a>
					</div>
				</div>
				<div class="portlet-body">
						<input type = "hidden" name = "action" value = "modifgratuitML">
						<div class="table-scrollable">
							<table id="" class="table table-striped table-bordered table-hover">
								<thead>
								<tr>										
									<th class="ta-center" colspan="2">
										$multilangue[pays]
									</th>									
									<th class="ta-center">
										$multilangue[moyen]
									</th>
									<th class="ta-center">
										$multilangue[gratuit]
									</th>									
								</tr>
								</thead>
								<tbody>
									<!-- BEGIN FrancoportMLSitePaysBit -->
									<tr id="$infosPage[institutionnelid]">
										<td class="ta-center va-middle">
											<img src='assets/img/flags/$libelleTagPays.png'>
										</td>						
										<td class="ta-center va-middle">
											$infosPays[libelle]
										</td>
										<td class="">
											<table style="border:0; padding:0; margin:auto;">
												<!-- BEGIN FrancoportMLSitePaysLibelleLivraisonBit -->
												<tr>
													<td>
														<label class="form-group" for="gratuit_$infosModelivraison[modelivraisonid]_$infosPays[paysid]">$infosModelivraison[nom]</label>
													</td>
												</tr>
												<!-- END FrancoportMLSitePaysLibelleLivraisonBit -->
											</table>
										</td>
										<td class="ta-center">
											<table class="ta-center">
												<!-- BEGIN FrancoportMLSitePaysLivraisonBit -->
												<tr>
													<td>											
														<table style="width:30%; border:0; padding:0; margin:auto;">
															<tr>
																 <td class="ta-center">à partir de <input type ="text" name="gratuit[$infosPays[paysid]][$infosModelivraison[modelivraisonid]]" id="gratuit_$infosModelivraison[modelivraisonid]_$infosPays[paysid]" value="$montantgratuitmodelivraison[montantgratuit]" class="form-control" style="text-align : right; min-width:50px; margin : auto; display : inline;"> € d'achat</td>
															</tr>
														</table>
													</td>	
												</tr>
												<!-- END FrancoportMLSitePaysLivraisonBit -->
											</table>
										</td>								
																
										
									
									<!-- END FrancoportMLSitePaysBit -->
								</tbody>
							</table>
						</div>						
				</div>
			</div>
			<!-- FIN SAMPLE TABLE PORTLET-->
		</div>
		<br/>
	<!-- END FrancoportMLSiteBit -->
	<div style="width : 100%; text-align : center;"><button type="submit" class="btn green btn-align-right"><i class="fa fa-check"></i>&nbsp&nbsp$multilangue[enregistrer]</button><br/><br/></div>
</form>


<!-- END FrancoportMLBit -->





<!-- FIN PAGE CONTENT -->
$TemplateCommunFooter

<script type="text/javascript">
	App.init(); // initlayout and core plugins
	
</script>
<script type="text/javascript">

	jQuery(function(){
      jQuery(".onclickTitre").click(function () {
         $(".onclickTitre").hide();	
         $(".btn-align-left").hide();
         $(".onclickForm").show();
         $("#submitOnclick").show();
      });
    });	
</script>


<!-- END FrancoportIndex -->