<!-- BEGIN Plaques_professionnellesIndex -->
	$TemplateCommunHeader   
    
		<!-- DEBUT PAGE HEADER-->
			<div class="row">
    			<div class="col-md-12">
        			<!-- DEBUT PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							$titrepage
						</h3>
						<ul class="page-breadcrumb breadcrumb">
						    <li>
						        <i class="fa fa-home"></i>
						        <a href="index.html">
						            $multilangue[accueil]
						        </a>
						        <i class="fa fa-angle-right"></i>
						    </li>
						    <li>
						    	<a href="$lienpagebase">                        
						        	$multilangue[plaques_professionnelles]
						        </a>						        
						    </li>						    
						</ul>
					<!-- FIN PAGE TITLE & BREADCRUMB-->
    			</div>
			</div>
		<!-- FIN PAGE HEADER-->
                
		<!-- BEGIN Plaques_professionnellesModuleBit -->
        <div class="row">
			<div class="col-md-12">		
				<form method="post" action=""  name="formmodule$titre_module" enctype="multipart/form-data" class="form-horizontal form-bordered form-row-stripped">
					<input type="hidden" name="action" value="modifmodule"/>	
                    <input type="hidden" name="moduleid" value="$articleModuleId"/>	
                    <input type="hidden" name="tauxtva" class="tauxtva" value="$tvatauxnormale"/> 			
					<div class="col-md-12 ta-center mb-20">
						<button type="submit" class="btn green"><i class="fa fa-check"></i> Enregistrer</button>															
					</div>
						
					<div class="portlet box blue">
						<div class="portlet-title" style="cursor: pointer;">
							<div class="caption">
								Module $titre_module</i>
							</div>	
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
							</div>																			
						</div>
                        <div class="portlet-body form">
								<!-- DEBUT FORM-->										
								<div class="form-body">
									<div class="form-group">
										<label class="control-label col-md-3">Titre module</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa-pencil"></i>
												</span>
												<input type="text" name="titremodule" value="$titre_module" class="form-control" aria-required="true">
												<span class="help-block help-block-error" for="email"></span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Texte module</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="fa fa fa-sort-amount-desc"></i>
												</span>
												<textarea class="$class_wysiwyg form-control" rows="5" cols="100" name="textemodule">$texte_module</textarea>
                                            </div>
										</div>
									</div>
                        			<div class="form-group">
										<label class="control-label col-md-3">Image module</label>
										<div class="col-md-9">
											<div data-provides="fileinput" class="fileinput fileinput-new">
												<div style="width: $widthbg; height: $heightbg;" data-trigger="fileinput" class="fileinput-preview thumbnail"><img src="$image_module" alt="$titre_module"/></div>
												<div>
													<span class="btn default btn-file">
														<span class="fileinput-new">$multilangue[selectionner]</span>
														<span class="fileinput-exists">$multilangue[modification]</span>
														<input type="file" name="imageModule"/>
													</span>
													<a data-dismiss="fileinput" class="btn default fileinput-exists" href="#">$multilangue[supprimer]</a>
												</div>
											</div>																														
										</div>
									</div>
                                    <!-- DEBUT FORM PRIX -->
                                    
                                    <!-- BEGIN Plaques_professionnellesModulePrixBit -->
                            		<div class="form-group">
										<label class="control-label col-md-4">
											<select style="display:none;" class="form-control input-inline" name="categorieDimesion_$idPlaqueProID" id="categorie_regle_prix" style="width:40%">
                                                <option value="0">Aucun</option>
                                                <!-- BEGIN Plaques_professionnellesModuleCategorieDimensionListBit -->
                                                <option value="$categorieDimensionProduitId" $selectedOption>$categorieDimensionprix</option>
                                                <!-- END Plaques_professionnellesModuleCategorieDimensionListBit --> 
                                            </select>
											$nomCategorieDimension
                                        </label>
										<div class="col-md-6 form-inline">
                                            <input type="hidden" name="prixmodule$idPlaqueProID" value="$idPlaqueProID"/> 
                                            <input type="text" class="form-control input-inline input prixmodulettc prixmodulettc_$idPlaqueProID" name="prixmodulettc_$idPlaqueProID" placeholder="0.00" id="prixmodulettc_$idPlaqueProID" data-site="$site[siteid]" value="$prixmoduleTTC" style="width:15%"/>
											$sitesDevise $multilangue[ttc] $multilangue[soit] 
											<input type="text" class="form-control input-inline input prixmodulehtc prixmodulehtc_$idPlaqueProID" name="prixmodulehtc_$idPlaqueProID" placeholder="0.00" id="prixmodulehtc_$idPlaqueProID" data-site="$site[siteid]" value="$prixmoduleHTC" style="width:15%"/>
											$sitesDevise $multilangue[ht]
                                            <select style="display:none;" class="form-control input-inline" name="categorieregleprix_$idPlaqueProID" id="categorie_regle_prix" style="width:40%">
                                                <option value="0">Aucun</option>
                                                <!-- BEGIN Plaques_professionnellesModuleCategoriePrixListBit -->
                                                <option value="$categorieRegleProduitId" $selectedOption>$categorieregleprix</option>
                                                <!-- END Plaques_professionnellesModuleCategoriePrixListBit --> 
                                            </select>
											$nomCategorieMatiere
										</div>
										<div class="col-md-2" style="display:none">
											<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal-$idPlaqueProID">Edit</button>
											<!-- Modal -->
											<div id="myModal-$idPlaqueProID" class="modal fade" role="dialog">
												<div class="modal-dialog">

													<!-- Modal content-->
													<div class="modal-content" >
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">&times;</button>
															<h4 class="modal-title">Modifier</h4>
														</div>
														<div class="modal-body">
															<div class="form-group add_price_rule">
																<div class="col-md-9 form-inline">
																		<input type="hidden" id="id_tarif_plaque_$idPlaqueProID" name="id_tarif_plaque_$idPlaqueProID" value="$idPlaqueProID"/>
																		<input type="text" class="form-control input-inline input prixmodulettc" name="new_prixmodulettc_$idPlaqueProID" placeholder="0.00" id="prixmodulettc_$idPlaqueProID" data-site="$site[siteid]" value="$prixmoduleTTC"/>
																		$sitesDevise $multilangue[ttc] $multilangue[soit]
																		<input type="text" class="form-control input-inline input prixmodulehtc" name="new_prixmodulehtc_$idPlaqueProID" placeholder="0.00" id="prixmodulehtc_$idPlaqueProID" data-site="$site[siteid]" value="$prixmoduleHTC"/>
																		$sitesDevise $multilangue[ht]
																		<br/><br/>
																		<label>Dimension : </label>
																		<select class="form-control input-inline" id="categorie_dimension_prix_$idPlaqueProID" style="width:46%">
																			<option value="0">Aucun</option>
																			<!-- BEGIN Plaques_professionnellesModuleCategorieDimensionBit -->
																			<option value="$categorieDimensionProduitId">$categorieDimensionPrix</option>
																			<!-- END Plaques_professionnellesModuleCategorieDimensionBit -->
																		</select>
																		<br/><br/>
																		<label>Matière : </label>
																		<select class="form-control input-inline" id="categorie_regle_prix_$idPlaqueProID" style="width:50%">
																			<option value="0">Aucun</option>
																			<!-- BEGIN Plaques_professionnellesModuleCategoriePrixBit -->
																			<option value="$categorieRegleProduitId">$categorieregleprix</option>
																			<!-- END Plaques_professionnellesModuleCategoriePrixBit -->
																		</select><br/><br/>
																		<button class="btn green" id="submit_form_edit_price" onclick="editReglePrix($idPlaqueProID);" type="submit">Envoyer</button>
																</div>
															</div>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>

                                    <!-- END Plaques_professionnellesModulePrixBit -->
                                    <script type="text/javascript">
                                        /** ----- add regle_prix ------ **/
                                        function addReglePrix(){
                                            console.log("load");
                                            var url = "plaques_professionnelles_ajax.php";
                                            var action = "add_regle_prix";
                                            var new_regle_prix = $( "input[name*='new_regle_prix']" ).val();
                                            var new_prixmodulehtc = $( "input[name*='new_prixmodulehtc']" ).val();
                                            var categorie_regle_prix = $("#categorie_regle_prix").val();
                                            var categorie_dimension_prix = $("#categorie_dimension_prix").val();
                                			var data = 'action='+action+'&';
                                		    		data += 'new_regle_prix='+new_regle_prix+'&';
                                                    data += 'new_prixmodulehtc='+new_prixmodulehtc+'&';
                                                    data += 'categorie_regle_prix='+categorie_regle_prix+'&';
                                                    data += 'categorie_dimension_prix='+categorie_dimension_prix+'&';
                                                    data += 'id_module=7&';
                                		    		$.ajax({
                                						url : url,
                                						type : 'POST',
                                						data : data,
                                						dataType : 'html',
                                						success : function(code_html, statut){
                                						},
                                						error : function(resultat, statut, erreur){
                                							alert(erreur);
                                						}
                                					});
                                        }
                                        /** ----- add regle_prix ------ **/
										/** ----- edit regle_prix ------ **/
										function editReglePrix(_idTarifPlaques){
											var url = "plaques_professionnelles_ajax.php";
											var action = "edit_regle_prix";
											var id_tarif_plaque = $( "#id_tarif_plaque_"+_idTarifPlaques ).val();
											var prix_module_htc = $( "#prixmodulehtc_"+_idTarifPlaques ).val();
											var categorie_dimension_prix = $("#categorie_dimension_prix_"+_idTarifPlaques).val();
											var categorie_regle_prix = $("#categorie_regle_prix_"+_idTarifPlaques).val();
											var data = 'action='+action+'&';
											data += 'id_tarif_plaque='+id_tarif_plaque+'&';
											data += 'prix_module_htc='+prix_module_htc+'&';
											data += 'categorie_dimension_prix='+categorie_dimension_prix+'&';
											data += 'categorie_regle_prix='+categorie_regle_prix+'&';
											data += 'id_module=7&';
											$.ajax({
												url : url,
												type : 'POST',
												data : data,
												dataType : 'html',
												success : function(code_html, statut){
												},
												error : function(resultat, statut, erreur){
													alert(erreur);
												}
											});
										}
										/** ----- edit regle_prix ------ **/
                                    </script>
                                    <div class="form-group add_price_rule" style="display:none">
                                        <label class="control-label col-md-3">Ajouter une regle de prix</label>
										<div class="col-md-9 form-inline">
                                        	<select class="form-control input-inline" id="categorie_dimension_prix" style="width:20%">
                                                <option value="0">Aucun</option>
                                                <!-- BEGIN Plaques_professionnellesModuleCategorieDimensionBit -->
                                                <option value="$categorieDimensionProduitId">$categorieDimensionPrix</option>
                                                <!-- END Plaques_professionnellesModuleCategorieDimensionBit --> 
                                            </select>
											<input type="text" class="form-control input-inline input prixmodulettc" name="new_prixmodulettc" placeholder="0.00" id="prixmodulettc" data-site="$site[siteid]" value=""/>
											$sitesDevise $multilangue[ttc] $multilangue[soit] 
											<input type="text" class="form-control input-inline input prixmodulehtc" name="new_prixmodulehtc" placeholder="0.00" id="prixmodulehtc" data-site="$site[siteid]" value=""/>
											$sitesDevise $multilangue[ht]   
                                            <select class="form-control input-inline" id="categorie_regle_prix" style="width:25%">
                                                <option value="0">Aucun</option>
                                                <!-- BEGIN Plaques_professionnellesModuleCategoriePrixBit -->
                                                <option value="$categorieRegleProduitId">$categorieregleprix</option>
                                                <!-- END Plaques_professionnellesModuleCategoriePrixBit --> 
                                            </select>
                                            <a href="javascript:void(0)" onclick="addReglePrix()" class="btn green"><i class="fa fa-plus-square" aria-hidden="true"></i></a>  
                                        </div>
    								</div>
                                    <!--  FIN FORM PRIX  -->	
								</div>												
						  </div>
					</div>		
				<div class="col-md-12 ta-center" style="display:none">
					<button type="submit" class="btn green"><i class="fa fa-check"></i> Enregistrer</button>															
				</div>	
				</form>
				<!-- FIN FORM-->			
	           </div>
        </div>
		<!-- END Plaques_professionnellesModuleBit -->
	
    $TemplateCommunFooter
<script>
	jQuery(document).ready(function() {
		App.init();	// initlayout and core plugins
        
        /** ----- set PRIX TTC ----- **/
      $('input.prixmodulehtc').each(function(){
            $(this).on('input keyup', function(){
                if($(this).val() != ""){
                    var prixHTC      = parseFloat($(this).val().replace(',','.')).toFixed(2) ;
                    var inputPrixTTC = $(this).prev();
                    var tauxTVA = parseFloat( $('input.tauxtva').val().replace(',','.') ).toFixed(2);
                    var prixPourcentageTTC = parseFloat(( prixHTC * tauxTVA ) / 100).toFixed(2);
                    var newPrixTTC = parseFloat((+prixHTC) + (+prixPourcentageTTC)).toFixed(2);
                    inputPrixTTC.val(newPrixTTC);
                }else{
                    var inputPrixTTC =  $(this).prev();
                    inputPrixTTC.val('0.00');
                }
            });
        });
        
        /** ----- set PRIX TTC ----- **/
        /** ----- set PRIX HTC ----- **/
        $('input.prixmodulettc').each(function(){
            $(this).on('input keyup', function(){
                if($(this).val() != ""){
                    var prixTTC      = parseFloat($(this).val().replace(',','.')).toFixed(2) ;
                    var inputPrixHTC =  $(this).next();
                    var tauxTVA = parseFloat( $('input.tauxtva').val().replace(',','.') ).toFixed(2)  ;
                    var prixPourcentageHTC = parseFloat(( prixTTC * tauxTVA ) / 100).toFixed(2);
                    var newPrixHTC   =  parseFloat( prixTTC-prixPourcentageHTC).toFixed(2);
                    inputPrixHTC.val(newPrixHTC);
                }else{
                    var inputPrixHTC =  $(this).next();
                    inputPrixHTC.val('0.00');
                }
            });
        });
        /** ----- set PRIX HTC ----- **/
	});
</script>

<!-- END Plaques_professionnellesIndex -->

